/*defining the common props of the  layers*/
#outer-layer {
    padding-left: 5%;
}

#outer-layer * {
    box-sizing: border-box;
}

.layer {
    box-sizing: border-box;
    display: grid;
    grid-template-areas: 'a b c d e';
    grid-template-columns: 20%;
    grid-template-rows: 16.5%;
    width: 500px;
    height: 500px;
}


.fs-item {
    width: 80px;
    height: 70px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: inherit;
    text-overflow: ellipsis;
    text-align: center;
    line-height: 50%;
    font-size: 20px;
}

.directory {
    background-image: url('../images/directory.png');
    padding-top: 1%;
    padding-bottom: 2%;
    font-size: 16px;
    line-height: 3.75em;
}

.file {
    background-image: url('../images/file.png');
    padding-top: 1%;
    font-size: 16px;
    line-height: 600%;
}

/*defining the difference of the  layers*/

#outer-layer .layer-01 {
    color: #323232;
    border: 1px solid #323232;
    background-color: lightyellow;

    transform: skewX(-20deg);
    margin-left: 45px;
    opacity: 0.7;
}

.layer-01 .file {
    background-color: lightyellow;
    opacity: 0.5;
}
.layer-01 .directory {
    background-color: lightyellow;
    opacity: 0.5;
}

#outer-layer .layer-02 {
    border: 1px solid darkred;
    background-color: lightcoral;
    opacity: 0.333;
    color: darkred;

    transform: translate(-10px, -494px) skewX(-20deg);
    margin-left: 45px;
}
.layer-02 .file {
    background-image: url('../images/file-blue.png');
    background-color: lightcoral;
    color: darkred;
}
.layer-02 .directory {
    background-image: url('../images/directory-blue.png');
    background-color: lightcoral;
    opacity: 0.8;
}

#outer-layer .layer-03 {
    color: darkgreen;
    border: 1px solid darkgreen;
    background-color: lightgreen;
    opacity: 0.333;

    transform: translate3d(-20px, -988px, 20px) skewX(-20deg);
    margin-left: 45px;
}

.layer-03 .file {
    background-image: url('../images/file.png');
    background-color: lightgreen;
    color: black;
    opacity: 1;
    transform: translate(7px, -2px);
}

.layer-03 .directory {
    background-image: url('../images/directory-green.png');
    background-color: lightgreen;
    color: black;
    opacity: 0.8;
}
