.chapter h2 {
    font-size: 5.5rem;
}

.reveal h4 {
    font-weight: bold;
}

.reveal .slides li,
.reveal .slides p {
    font-size: 0.75em;
}

.reveal .slides .subtitle {
    font-size: 0.45em;
}

.reveal section code {
    background-color: black;
    color: white;
    padding: 0.2em 0.4em;
}

.reveal section pre {
    white-space: pre-line;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.strike-through {
    text-decoration: line-through;
}

.upper-left-blocker {
    position: absolute;
    background-color: white;
    top: 0px; left: 0px;
    width: 45%;
    height: 45%;
}

.lower-left-blocker {
    position: absolute;
    background-color: white;
    bottom: 0px; left: 0px;
    width: 45%;
    height: 45%;
}

.upper-right-blocker {
    position: absolute;
    background-color: white;
    top: 0px; right: 0px;
    width: 45%;
    height: 45%;
}

.lower-right-blocker {
    position: absolute;
    background-color: white;
    bottom: 0px; right: 0px;
    width: 45%;
    height: 45%;
}